In [11]:
import pandas as pd
df = pd.read_csv('sample_data.csv')

In [3]:
pwd

'C:\\Users\\Dhurvi\\PycharmProjects\\ML\\ML Concepts\\pre-req'

In [6]:
df.to_csv('sample_data_convert.csv')

In [8]:
df.to_csv('sample_data_convert.csv', index=False)

In [9]:
df.shape

(35064, 18)

In [10]:
df.head()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [11]:
df.tail(10)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
35054,35055,2017,2,28,14,5.0,5.0,4.0,8.0,100.0,117.0,14.6,1013.3,-15.6,0.0,N,3.6,Aotizhongxin
35055,35056,2017,2,28,15,6.0,19.0,4.0,8.0,100.0,122.0,15.4,1013.0,-15.0,0.0,NNW,3.3,Aotizhongxin
35056,35057,2017,2,28,16,12.0,18.0,5.0,9.0,200.0,122.0,14.9,1012.6,-15.4,0.0,NW,2.1,Aotizhongxin
35057,35058,2017,2,28,17,12.0,23.0,6.0,13.0,200.0,120.0,14.2,1012.5,-14.9,0.0,NW,3.1,Aotizhongxin
35058,35059,2017,2,28,18,13.0,29.0,5.0,22.0,300.0,109.0,13.4,1013.0,-15.5,0.0,WNW,1.4,Aotizhongxin
35059,35060,2017,2,28,19,12.0,29.0,5.0,35.0,400.0,95.0,12.5,1013.5,-16.2,0.0,NW,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,37.0,7.0,45.0,500.0,81.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,37.0,10.0,66.0,700.0,58.0,10.8,1014.2,-13.3,0.0,NW,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,44.0,12.0,87.0,700.0,35.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,31.0,10.0,79.0,600.0,42.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Aotizhongxin

In [12]:
df.dtypes

No           int64
year         int64
month        int64
day          int64
hour         int64
PM2.5      float64
PM10       float64
SO2        float64
NO2        float64
CO         float64
O3         float64
TEMP       float64
PRES       float64
DEWP       float64
RAIN       float64
wd          object
WSPM       float64
station     object
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34139 non-null  float64
 6   PM10     34346 non-null  float64
 7   SO2      34129 non-null  float64
 8   NO2      34041 non-null  float64
 9   CO       33288 non-null  float64
 10  O3       33345 non-null  float64
 11  TEMP     35044 non-null  float64
 12  PRES     35044 non-null  float64
 13  DEWP     35044 non-null  float64
 14  RAIN     35044 non-null  float64
 15  wd       34983 non-null  object
 16  WSPM     35050 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [14]:
df.head(10)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
5,6,2013,3,1,5,5.0,5.0,18.0,18.0,400.0,66.0,-2.2,1025.6,-19.6,0.0,N,3.7,Aotizhongxin
6,7,2013,3,1,6,3.0,3.0,18.0,32.0,500.0,50.0,-2.6,1026.5,-19.1,0.0,NNE,2.5,Aotizhongxin
7,8,2013,3,1,7,3.0,6.0,19.0,41.0,500.0,43.0,-1.6,1027.4,-19.1,0.0,NNW,3.8,Aotizhongxin
8,9,2013,3,1,8,3.0,6.0,16.0,43.0,500.0,45.0,0.1,1028.3,-19.2,0.0,NNW,4.1,Aotizhongxin
9,10,2013,3,1,9,3.0,8.0,12.0,28.0,400.0,59.0,1.2,1028.5,-19.3,0.0,N,2.6,Aotizhongxin

In [15]:
df.iloc[1,2]

3

In [16]:
df.iloc[0:5,5]

0    4.0
1    8.0
2    7.0
3    6.0
4    3.0
Name: PM2.5, dtype: float64

In [17]:
df.iloc[0:5,PM2.5]

SyntaxError: invalid syntax (<ipython-input-17-c00d416aff6f>, line 1)

In [18]:
df.loc[0:5,PM2.5]

SyntaxError: invalid syntax (<ipython-input-18-0685271e5a7b>, line 1)

In [19]:
df.iloc[0:5,'PM2.5']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [20]:
df.loc[0:5,'PM2.5']

0    4.0
1    8.0
2    7.0
3    6.0
4    3.0
5    5.0
Name: PM2.5, dtype: float64

In [21]:
df.head(10)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
5,6,2013,3,1,5,5.0,5.0,18.0,18.0,400.0,66.0,-2.2,1025.6,-19.6,0.0,N,3.7,Aotizhongxin
6,7,2013,3,1,6,3.0,3.0,18.0,32.0,500.0,50.0,-2.6,1026.5,-19.1,0.0,NNE,2.5,Aotizhongxin
7,8,2013,3,1,7,3.0,6.0,19.0,41.0,500.0,43.0,-1.6,1027.4,-19.1,0.0,NNW,3.8,Aotizhongxin
8,9,2013,3,1,8,3.0,6.0,16.0,43.0,500.0,45.0,0.1,1028.3,-19.2,0.0,NNW,4.1,Aotizhongxin
9,10,2013,3,1,9,3.0,8.0,12.0,28.0,400.0,59.0,1.2,1028.5,-19.3,0.0,N,2.6,Aotizhongxin

In [22]:
df.loc[0:5,'year':'co']

KeyError: 'co'

In [23]:
df.head(5)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin

In [24]:
df.loc[0:5,['year','PM2.5','CO']]

   year  PM2.5     CO
0  2013    4.0  300.0
1  2013    8.0  300.0
2  2013    7.0  300.0
3  2013    6.0  300.0
4  2013    3.0  300.0
5  2013    5.0  400.0

In [25]:
df.PM2.5

SyntaxError: invalid syntax (<ipython-input-25-5f4b8eec0e1b>, line 1)

In [26]:
df.PM10

0         4.0
1         8.0
2         7.0
3         6.0
4         3.0
         ...
35059    29.0
35060    37.0
35061    37.0
35062    44.0
35063    31.0
Name: PM10, Length: 35064, dtype: float64

In [27]:
df['PM2.5']

0         4.0
1         8.0
2         7.0
3         6.0
4         3.0
         ...
35059    12.0
35060    13.0
35061    16.0
35062    21.0
35063    19.0
Name: PM2.5, Length: 35064, dtype: float64

In [28]:
df[['PM2.5','PM10']]

       PM2.5  PM10
0        4.0   4.0
1        8.0   8.0
2        7.0   7.0
3        6.0   6.0
4        3.0   3.0
...      ...   ...
35059   12.0  29.0
35060   13.0  37.0
35061   16.0  37.0
35062   21.0  44.0
35063   19.0  31.0

[35064 rows x 2 columns]

In [29]:
df[['PM2.5','PM10']] == '8.0'

       PM2.5   PM10
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False
...      ...    ...
35059  False  False
35060  False  False
35061  False  False
35062  False  False
35063  False  False

[35064 rows x 2 columns]

In [30]:
df[['PM2.5','PM10']] == 8.0

       PM2.5   PM10
0      False  False
1       True   True
2      False  False
3      False  False
4      False  False
...      ...    ...
35059  False  False
35060  False  False
35061  False  False
35062  False  False
35063  False  False

[35064 rows x 2 columns]

In [32]:
df[df.PM10 == 8.0]

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
9,10,2013,3,1,9,3.0,8.0,12.0,28.0,400.0,59.0,1.2,1028.5,-19.3,0.0,N,2.6,Aotizhongxin
295,296,2013,3,13,7,3.0,8.0,21.0,40.0,600.0,69.0,3.7,1023.3,-10.0,0.0,NNE,2.9,Aotizhongxin
565,566,2013,3,24,13,3.0,8.0,12.0,12.0,NaN,76.0,9.7,1014.8,-12.2,0.0,W,2.7,Aotizhongxin
566,567,2013,3,24,14,4.0,8.0,10.0,12.0,NaN,78.0,10.4,1013.6,-15.2,0.0,N,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34788,34789,2017,2,17,12,8.0,8.0,2.0,10.0,200.0,78.0,4.0,1028.1,-26.1,0.0,N,2.9,Aotizhongxin
34789,34790,2017,2,17,13,8.0,8.0,4.0,9.0,200.0,81.0,4.2,1026.5,-26.0,0.0,NW,4.0,Aotizhongxin
34971,34972,2017,2,25,3,7.0,8.0,5.0,46.0,400.0,49.0,1.9,1020.0,-9.7,0.0,WSW,1.2,Aotizhongxin
35051,35052,2017,2,28,11,7.0,8.0,4.0,12.0,200.0,107.0,13.3,1016.0,-12.8,0.0,NW,3.3,Aotizhongxin
35053,35054,2017,2,28,13,6.0,8.0,3.0,9.0,100.0,115.0,14.0,1014.5,-15.0,0.0,NNW,2.9,Aotizhongxin

In [33]:
df1 = df

In [34]:
df1

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,12.0,29.0,5.0,35.0,400.0,95.0,12.5,1013.5,-16.2,0.0,NW,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,37.0,7.0,45.0,500.0,81.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,37.0,10.0,66.0,700.0,58.0,10.8,1014.2,-13.3,0.0,NW,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,44.0,12.0,87.0,700.0,35.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,31.0,10.0,79.0,600.0,42.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Aotizhongxin

In [35]:
df1.PM10 = 100

In [36]:
df1

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,100,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,100,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,100,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,100,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,100,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,12.0,100,5.0,35.0,400.0,95.0,12.5,1013.5,-16.2,0.0,NW,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,100,7.0,45.0,500.0,81.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,100,10.0,66.0,700.0,58.0,10.8,1014.2,-13.3,0.0,NW,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,100,12.0,87.0,700.0,35.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,100,10.0,79.0,600.0,42.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Aotizhongxin

In [37]:
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,100,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,100,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,100,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,100,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,100,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,12.0,100,5.0,35.0,400.0,95.0,12.5,1013.5,-16.2,0.0,NW,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,100,7.0,45.0,500.0,81.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,100,10.0,66.0,700.0,58.0,10.8,1014.2,-13.3,0.0,NW,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,100,12.0,87.0,700.0,35.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,100,10.0,79.0,600.0,42.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Aotizhongxin

In [39]:
df

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,35060,2017,2,28,19,12.0,29.0,5.0,35.0,400.0,95.0,12.5,1013.5,-16.2,0.0,NW,2.4,Aotizhongxin
35060,35061,2017,2,28,20,13.0,37.0,7.0,45.0,500.0,81.0,11.6,1013.6,-15.1,0.0,WNW,0.9,Aotizhongxin
35061,35062,2017,2,28,21,16.0,37.0,10.0,66.0,700.0,58.0,10.8,1014.2,-13.3,0.0,NW,1.1,Aotizhongxin
35062,35063,2017,2,28,22,21.0,44.0,12.0,87.0,700.0,35.0,10.5,1014.4,-12.9,0.0,NNW,1.2,Aotizhongxin
35063,35064,2017,2,28,23,19.0,31.0,10.0,79.0,600.0,42.0,8.6,1014.1,-15.9,0.0,NNE,1.3,Aotizhongxin

In [40]:
df.describe()

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,35050.000000
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,1.708496
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,1.204071
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,0.000000
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,0.900000
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,1.400000
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,2.200000
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,11.200000

In [41]:
df.describe(include = 'object')

           wd       station
count   34983         35064
unique     16             1
top        NE  Aotizhongxin
freq     5140         35064

In [42]:
df.describe(include = 'all')

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,34983,35050.000000,35064
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,1
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,NaN,Aotizhongxin
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5140,NaN,35064
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,NaN,1.708496,NaN
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,NaN,1.204071,NaN
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,NaN,0.000000,NaN
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,NaN,0.900000,NaN
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,NaN,1.400000,NaN
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,NaN,2.200000,NaN
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,NaN,11.200000,NaN

In [56]:
df.describe(include='all')

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,34139.000000,34346.000000,34129.000000,34041.000000,33288.000000,33345.000000,35044.000000,35044.000000,35044.000000,35044.000000,34983,35050.000000,35064
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,1
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,NaN,Aotizhongxin
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5140,NaN,35064
mean,17532.500000,2014.662560,6.522930,15.729637,11.500000,82.773611,110.060391,17.375901,59.305833,1262.945145,56.353358,13.584607,1011.846920,3.123062,0.067421,NaN,1.708496,NaN
std,10122.249256,1.177213,3.448752,8.800218,6.922285,82.135694,95.223005,22.823017,37.116200,1221.436236,57.916327,11.399097,10.404047,13.688896,0.910056,NaN,1.204071,NaN
min,1.000000,2013.000000,1.000000,1.000000,0.000000,3.000000,2.000000,0.285600,2.000000,100.000000,0.214200,-16.800000,985.900000,-35.300000,0.000000,NaN,0.000000,NaN
25%,8766.750000,2014.000000,4.000000,8.000000,5.750000,22.000000,38.000000,3.000000,30.000000,500.000000,8.000000,3.100000,1003.300000,-8.100000,0.000000,NaN,0.900000,NaN
50%,17532.500000,2015.000000,7.000000,16.000000,11.500000,58.000000,87.000000,9.000000,53.000000,900.000000,42.000000,14.500000,1011.400000,3.800000,0.000000,NaN,1.400000,NaN
75%,26298.250000,2016.000000,10.000000,23.000000,17.250000,114.000000,155.000000,21.000000,82.000000,1500.000000,82.000000,23.300000,1020.100000,15.600000,0.000000,NaN,2.200000,NaN
max,35064.000000,2017.000000,12.000000,31.000000,23.000000,898.000000,984.000000,341.000000,290.000000,10000.000000,423.000000,40.500000,1042.000000,28.500000,72.500000,NaN,11.200000,NaN

In [57]:
df['PM2.5'].describe()

count    34139.000000
mean        82.773611
std         82.135694
min          3.000000
25%         22.000000
50%         58.000000
75%        114.000000
max        898.000000
Name: PM2.5, dtype: float64

In [58]:
df.mean()

No       17532.500000
year      2014.662560
month        6.522930
day         15.729637
hour        11.500000
PM2.5       82.773611
PM10       110.060391
SO2         17.375901
NO2         59.305833
CO        1262.945145
O3          56.353358
TEMP        13.584607
PRES      1011.846920
DEWP         3.123062
RAIN         0.067421
WSPM         1.708496
dtype: float64

In [59]:
df.PM10.unique()

array([  4. ,   8. ,   7. ,   6. ,   3. ,   5. ,   9. ,  15. ,  19. ,
        23. ,  20. ,  14. ,  17. ,  18. ,  24. ,  13. ,  11. ,  10. ,
        29. ,  30. ,  33. ,  35. ,  40. ,  46. ,  58. ,  79. ,  86. ,
        96. , 103. , 113. , 120. , 130. , 132. , 129. , 136. , 135. ,
       142. , 116. , 110. , 119. , 122. , 117. , 108. , 134. , 106. ,
       114. , 100. ,  82. ,  71. , 175. , 181. , 105. ,  94. ,  83. ,
        80. ,  62. ,  34. ,  32. ,  36. ,  28. ,  12. ,  44. ,  63. ,
        84. ,  85. ,  91. , 127. , 151. , 153. , 145. , 146. , 147. ,
       159. , 177. , 184. , 193. , 182. , 171. , 186. , 218. , 248. ,
       255. , 244. , 252. , 253. , 269. , 315. , 300. , 265. , 229. ,
       203. , 194. , 196. , 205. , 198. , 212. , 219. , 233. , 277. ,
       285. , 276. , 291. , 338. , 396. , 380. , 335. , 360. , 319. ,
       297. , 294. , 293. , 304. , 337. , 366. , 374. , 344. , 282. ,
       311. , 283. , 284. , 326. , 310. , 257. , 287. , 298. , 377. ,
       452. , 426. , 389. , 370. , 400. , 373. , 345. , 346. , 327. ,
       318. , 371. , 844. , 362. , 225. , 348. , 508. , 128. , 123. ,
       104. ,  87. , 102. ,  67. ,  97. , 125. , 118. , 143. , 139. ,
       166. , 272. , 587. ,   nan, 628. , 662. , 443. , 263. , 251. ,
       107. ,  16. ,  25. ,  21. ,  74. ,  75. ,  59. ,  56. ,  52. ,
        54. , 115. , 140. , 156. , 138. , 155. , 207. , 189. , 133. ,
       162. , 214. , 246. , 124. , 161. , 237. , 165. , 121. ,  90. ,
        93. , 131. , 101. ,  31. ,  50. ,  22. ,  38. ,  47. ,  39. ,
        45. ,  88. ,  66. ,  53. ,  77. ,  81. ,  95. , 112. , 126. ,
       137. , 158. , 179. , 176. , 211. , 200. , 170. , 174. , 185. ,
       331. , 261. , 279. , 305. , 343. , 320. , 324. , 367. , 430. ,
       411. , 357. , 330. , 332. , 316. , 289. , 273. , 243. , 169. ,
       167. , 204. , 217. , 223. , 242. , 192. , 195. , 188. , 210. ,
       259. , 321. , 347. , 372. , 392. , 383. , 369. , 395. , 390. ,
       442. , 462. , 455. , 494. , 476. ,  68. ,  76. ,  42. ,  41. ,
        57. ,  61. ,  49. ,  78. ,  27. ,  51. ,  48. ,  89. , 141. ,
       163. , 172. , 187. , 202. , 221. , 240. , 236. , 234. , 209. ,
       168. , 152. , 157. ,  70. ,  69. , 111. ,  26. , 160. , 260. ,
       292. , 264. , 256. , 241. , 274. , 302. , 230. , 216. , 206. ,
        73. ,  99. ,  98. ,  92. , 231. , 222. , 247. , 250. , 245. ,
       239. , 280. , 268. , 267. , 232. , 249. , 178. , 227. , 238. ,
       197. , 275. , 351. , 358. , 191. , 144. , 190. , 149. ,  43. ,
        72. ,  55. ,  60. , 215. , 150. , 109. , 164. , 173. , 208. ,
       224. ,  65. , 312. ,  37. , 154. ,  64. , 183. , 213. , 199. ,
       254. , 148. , 309. , 299. , 303. , 308. , 359. , 354. , 336. ,
       365. , 306. , 228. , 325. , 258. , 180. , 201. , 235. , 655. ,
       353. , 341. , 340. , 296. , 262. , 290. , 388. , 278. , 328. ,
       364. , 407. , 271. , 226. , 270. , 333. , 281. , 220. , 339. ,
       507. , 322. , 528. , 544. , 527. , 564. , 375. , 317. ,   2. ,
       286. , 266. , 314. , 323. , 295. , 313. , 382. , 301. , 409. ,
       406. , 397. , 334. , 288. ,  10.5, 307. , 416. , 408. , 419. ,
       350. , 460. , 539. , 423. , 594. , 470. , 516. , 536. , 540. ,
       549. , 555. , 640. , 610. , 612. , 598. , 499. , 427. , 431. ,
       445. , 401. , 356. , 483. , 329. , 415. , 386. , 561. , 654. ,
       488. , 422. , 393. , 492. , 510. , 501. , 481. , 468. , 435. ,
       403. , 379. , 349. , 352. , 434. , 428. , 418. , 479. , 475. ,
       413. , 446. , 421. , 458. , 520. , 498. , 466. , 453. , 438. ,
       518. , 478. , 342. , 417. , 471. , 429. , 486. , 469. , 424. ,
       477. , 368. , 402. , 463. , 447. , 436. , 485. , 521. , 554. ,
       603. , 502. , 404. , 530. , 948. , 548. , 524. , 114.6, 131.9,
       125.3,  98.8, 399. , 341.5, 391. , 385. , 601. , 526. , 725. ,
        26.8, 170.1, 112.2,  81.3, 381. , 384. , 394. , 448. , 441. ,
       432. , 433. , 378. , 414. , 376. ,  37.8, 440. , 363. , 405. ,
       450. , 613. , 439. , 568. , 629. , 609. , 500. , 482. , 437. ,
       361. , 633. , 634. , 506. , 538. , 355. , 387. , 578. , 497. ,
       489. , 464. , 472. , 465. , 137.6, 570. , 533. , 585. , 721. ,
       845. , 862. , 757. , 637. , 412. , 812. , 874. , 504. , 456. ,
       588. , 552. , 514. , 474. , 420. , 398. ,  36.9,  64.7,   6.4,
        92.8,  33.9,   6.6, 984. , 944. , 525. , 576. , 511. , 630. ,
       661. , 671. , 664. , 620. , 631. , 567. , 535. , 542. , 444. ,
       473. , 529. , 550. , 619. , 581. , 600. , 410. , 534. , 509. ,
       512. , 451. , 646. , 644. , 675. , 647. , 557. , 537. , 573. ,
       571. , 580. , 558. , 577. , 599. , 590. , 604. , 523. , 513. ,
       582. , 565. , 884. , 762. , 722. , 693. , 666. , 873. , 638. ,
       777. , 625. , 627. , 563. , 642. , 827. , 834. , 575. , 449. ,
       496. , 425. , 572. , 543. , 491. , 467. , 484. , 493. , 815. ,
       773. , 799. , 858. , 754. ])

In [60]:
df.station.unique()

array(['Aotizhongxin'], dtype=object)

In [65]:
df.PM10.value_counts()
#df.station.value_counts()

6.0      345
18.0     322
22.0     313
14.0     299
23.0     296
        ...
64.7       1
466.0      1
675.0      1
112.2      1
484.0      1
Name: PM10, Length: 633, dtype: int64

In [71]:
df.sort_values(by = 'CO', ascending = False ).head(10)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
30558,30559,2016,8,25,6,3.0,6.0,2.0,10.0,100.0,102.0,28.4,1003.0,13.9,0.0,NNW,3.5,Aotizhongxin
12531,12532,2014,8,5,3,11.0,11.0,2.0,35.0,100.0,9.0,19.9,1001.2,19.9,0.0,WNW,0.0,Aotizhongxin
21263,21264,2015,8,3,23,11.0,19.0,2.0,40.0,100.0,58.0,23.9,997.7,13.4,0.0,NW,2.8,Aotizhongxin
21264,21265,2015,8,4,0,9.0,16.0,2.0,35.0,100.0,62.0,23.7,998.0,13.3,0.0,NNW,1.6,Aotizhongxin
21265,21266,2015,8,4,1,7.0,13.0,2.0,46.0,100.0,50.0,22.9,997.4,14.5,0.0,NNW,0.8,Aotizhongxin
21266,21267,2015,8,4,2,8.0,19.0,3.0,45.0,100.0,47.0,20.8,997.1,14.4,0.0,E,2.0,Aotizhongxin
21267,21268,2015,8,4,3,8.0,35.0,3.0,65.0,100.0,24.0,19.2,997.0,15.7,0.0,NE,0.7,Aotizhongxin
19299,19300,2015,5,14,3,11.0,53.0,2.0,13.0,100.0,96.0,20.3,999.1,-2.8,0.0,NNW,4.6,Aotizhongxin
29080,29081,2016,6,24,16,10.0,36.0,2.0,11.0,100.0,97.0,32.1,999.6,7.0,0.0,NNE,3.6,Aotizhongxin
19298,19299,2015,5,14,2,33.0,180.0,3.0,16.0,100.0,85.0,21.0,998.4,-2.2,0.0,NNW,6.3,Aotizhongxin

In [2]:
pd.__version__

'1.2.2'

In [3]:
df.index

RangeIndex(start=0, stop=35064, step=1)

In [6]:
data = pd.Series(['manu','RM','Barca'], index=[1,3,5])

In [7]:
data

1     manu
3       RM
5    Barca
dtype: object

In [9]:
data.loc[1]

'manu'

In [10]:
data.iloc[1]

'RM'

In [13]:
import numpy as np

In [17]:
data1 = pd.DataFrame[[10,'pratik',np.nan],['delta',-1,10.5],[None,2,8.0]]

TypeError: 'type' object is not subscriptable

In [21]:
df = [[1,2.2,-1,'data1'],['pratik',np.nan,0.06],[-5,3443.3,'data2']]

In [22]:
data1 = pd.DataFrame(df,columns=['a','b','c','d'],index=[1,2,3])

In [23]:
data1

        a       b      c      d
1       1     2.2     -1  data1
2  pratik     NaN   0.06   None
3      -5  3443.3  data2   None

In [24]:
data1.isnull()

       a      b      c      d
1  False  False  False  False
2  False   True  False   True
3  False  False  False   True

In [27]:
data1.isnull().sum()

a    0
b    1
c    0
d    2
dtype: int64

In [29]:
data1.fillna('unknown')

        a        b      c        d
1       1      2.2     -1    data1
2  pratik  unknown   0.06  unknown
3      -5   3443.3  data2  unknown

In [33]:
data1['b'].fillna(data1['b'].mean(), inplace= True)

In [34]:
data1.b

1       2.20
2    1722.75
3    3443.30
Name: b, dtype: float64

In [36]:
data1.fillna(method='ffill', axis=1)

        a        b      c      d
1       1      2.2     -1  data1
2  pratik  1722.75   0.06   0.06
3      -5   3443.3  data2  data2